{% extends "share/base.twig" %}
{% block main %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            精彩回顾
            <small>较多列列表演示</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#">表格列表演示</a></li>
            <li class="active">较多列列表演示</li>
        </ol>
    </section>

    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="text-green fa fa-unlock" title="已发布"></i>
                    <span class="badge bg-light-blue">调查回顾</span>
                    暖神PK站第六期入围答案及投票情况回顾
                    <span class="small" title="发布时间">2015-02-09 13:32</span>
                </h3>
            </div>
            <div class="box-body">
                <ul class="list-inline marg">
                    <li title="点赞次数"><i class="fa fa-thumbs-o-up margin-r-5"></i><a href="#" class=""> 2533</a>
                    <li title="分享次数"><i class="fa fa-share-alt margin-r-5"></i><a href="#" class="">263</a></li>
                </ul>
                <p>
                    列数较多的表格，可以用本页的排版方式来呈现数据，并非一定要使用表格。
                </p>
            </div>
            <div class="box-footer">
                <a href="#" class="btn bg-light-blue">
                    <i class="fa fa-list margin-r-5"></i>预览
                </a>
                <a href="#" class="btn bg-orange">
                    <i class="fa fa-pencil-square-o margin-r-5"></i>跟帖管理
                </a>
                <a href="#" class="btn bg-red">
                    <i class="fa fa-undo margin-r-5"></i>撤销
                </a>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="text-green fa fa-unlock" title="已发布"></i>
                    <span class="badge bg-light-blue">调查回顾</span>
                    暖神PK站第六期入围答案及投票情况回顾
                    <span class="small" title="发布时间">2015-02-09 13:32</span>
                </h3>
            </div>
            <div class="box-body">
                <ul class="list-inline marg">
                    <li title="点赞次数"><i class="fa fa-thumbs-o-up margin-r-5"></i><a href="#" class=""> 2533</a>
                    <li title="分享次数"><i class="fa fa-share-alt margin-r-5"></i><a href="#" class="">263</a></li>
                </ul>
                <p>
                    省略标题，节省空间。用户并不需要每次都读取各项信息的标题，使用多次以后，自然知道每个元素代表的信息类型。
                    用图标加强隐喻，将鼠标移动到元素上方来获得信息类型提示。
                </p>
            </div>
            <div class="box-footer">
                <a href="#" class="btn bg-light-blue">
                    <i class="fa fa-list margin-r-5"></i>预览
                </a>
                <a href="#" class="btn bg-orange">
                    <i class="fa fa-pencil-square-o margin-r-5"></i>跟帖管理
                </a>
                <a href="#" class="btn bg-red">
                    <i class="fa fa-undo margin-r-5"></i>撤销
                </a>
            </div>
        </div>

        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="text-gray fa fa-lock" title="未发布"></i>
                    <span class="badge bg-light-blue">调查回顾</span>
                    暖神PK站第六期入围答案及投票情况回顾
                    <span class="small" title="发布时间">2015-02-09 13:32</span>
                </h3>
            </div>
            <div class="box-body">
                <ul class="list-inline marg">
                    <li title="点赞次数"><i class="fa fa-thumbs-o-up margin-r-5"></i><a href="#" class=""> 2533</a>
                    <li title="分享次数"><i class="fa fa-share-alt margin-r-5"></i><a href="#" class="">263</a></li>
                    <li title="撤销时间"><i class="fa fa-close margin-r-5"></i>2015-01-15 14:58</li>
                </ul>
                <p>
                    “暖神PK站”是赚零用发起的一个趣味性十足的互动单元。我们每期会出一个问题，
                    这个问题是恋爱中或者结婚后女人们问男人们的、是女人撒娇或生气时问的、是男人们不知道如何回答的、是男人们如何回答都觉得不对的、是稍不留神就会引爆怒火的。
                </p>
            </div>
            <div class="box-footer">
                <a href="#" class="btn bg-light-blue">
                    <i class="fa fa-list margin-r-5"></i>预览
                </a>
                <a href="#" class="btn bg-orange">
                    <i class="fa fa-pencil-square-o margin-r-5"></i>跟帖管理
                </a>
                <a href="#" class="btn bg-red">
                    <i class="fa fa-undo margin-r-5"></i>撤销
                </a>
            </div>
        </div>

        <ul class="pagination no-margin pull-right">
            <li><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a>12 / 32 / 145</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
    </section>
{% endblock %}