{% extends "share/base.twig" %}
{% block main %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            统一图标含义
            <small>项目范围内，常用图标需要具有一致的含义</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Widgets</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <h2 class="page-header">功能操作类</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-check"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-check</span>
                        <span class="info-box-text">确定</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-close"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-close</span>
                        <span class="info-box-text">取消</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-cogs"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-cogs</span>
                        <span class="info-box-text">设置</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-ban"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-ban</span>
                        <span class="info-box-text">禁用、使无效</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-download"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-download</span>
                        <span class="info-box-text">下载</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-filter"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-filter</span>
                        <span class="info-box-text">筛选</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-plus-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-plus-circle</span>
                        <span class="info-box-text">新增、创建</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-pencil-square-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-pencil-square-o</span>
                        <span class="info-box-text">编辑</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-times-circle-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-times-circle-o</span>
                        <span class="info-box-text">删除</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-undo"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-undo</span>
                        <span class="info-box-text">撤销</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-search"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-search</span>
                        <span class="info-box-text">查找、搜索</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-print"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-print</span>
                        <span class="info-box-text">打印</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-heart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-heart</span>
                        <span class="info-box-text">收藏、关注</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-refresh"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-refresh</span>
                        <span class="info-box-text">刷新、更新</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-upload"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-upload</span>
                        <span class="info-box-text">上传</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-copy"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-copy</span>
                        <span class="info-box-text">复制</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-share-alt"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-share-alt</span>
                        <span class="info-box-text">分享</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-question-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-question-circle</span>
                        <span class="info-box-text">获得提示、获得帮助</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-list"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-list</span>
                        <span class="info-box-text">查看详情</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-save"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-save</span>
                        <span class="info-box-text">保存</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-sort"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-sort</span>
                        <span class="info-box-text">排序</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-sort-asc"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-sort-asc</span>
                        <span class="info-box-text">顺序排列</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-sort-desc"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-sort-desc</span>
                        <span class="info-box-text">倒叙排列</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <!-- /.row -->

        <h2 class="page-header">内容提示类</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-question-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-pquestion-circle</span>
                        <span class="info-box-text">帮助、提示信息</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-tags"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-tags</span>
                        <span class="info-box-text">标签</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-link"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-link</span>
                        <span class="info-box-text">链接</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-calendar"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-calendar</span>
                        <span class="info-box-text">日历、时间相关</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-at"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-at</span>
                        <span class="info-box-text">邮件</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-bar-chart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-bar-chart</span>
                        <span class="info-box-text">统计、图表</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-info"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-info</span>
                        <span class="info-box-text">信息</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-exclamation-circle"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-exclamation-circle</span>
                        <span class="info-box-text">提醒</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-group"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-group</span>
                        <span class="info-box-text">群组</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-user</span>
                        <span class="info-box-text">用户</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-map-marker"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-map-marker</span>
                        <span class="info-box-text">地理位置</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-map-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-map-o</span>
                        <span class="info-box-text">地图</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
        </div>
        <!-- /.row -->
        <h2 class="page-header">状态类</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-eye"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-eye</span>
                        <span class="info-box-text">可见</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-eye-slash"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-eye-slash</span>
                        <span class="info-box-text">不可见</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-heart"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-heart</span>
                        <span class="info-box-text">已收藏、已关注</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-heart-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-heart-o</span>
                        <span class="info-box-text">未收藏、未关注</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-ban"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-ban</span>
                        <span class="info-box-text">已禁用、无效</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-check"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-check</span>
                        <span class="info-box-text">是、有、对</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-close"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-close</span>
                        <span class="info-box-text">否、无、错、取消</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-lock"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-lock</span>
                        <span class="info-box-text">锁定、未发布</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-unlock"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-unlock</span>
                        <span class="info-box-text">解锁、已发布</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <h2 class="page-header">文件类型</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-file-o</span>
                        <span class="info-box-text">文件</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-image-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-file-image-o</span>
                        <span class="info-box-text">图片文件</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-audio-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-file-audio-o</span>
                        <span class="info-box-text">音频文件</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-video-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-file-video-o</span>
                        <span class="info-box-text">视频文件</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-word-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-file-word-o</span>
                        <span class="info-box-text">Word 文件</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-file-pdf-o"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-file-pdf-o</span>
                        <span class="info-box-text">PDF 文件</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-folder-open"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-folder-open</span>
                        <span class="info-box-text">文件夹</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <h2 class="page-header">导航类</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-home"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-home</span>
                        <span class="info-box-text">首页、根</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-angle-double-left"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-angle-double-left</span>
                        <span class="info-box-text">至开始</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-angle-double-right"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-angle-double-right</span>
                        <span class="info-box-text">至结束</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-angle-left"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-angle-left</span>
                        <span class="info-box-text">退一页、退一步</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-angle-right"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-angle-right</span>
                        <span class="info-box-text">往前一页、往前一步</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <h2 class="page-header">社区网站</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-qq"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-qq</span>
                        <span class="info-box-text">QQ</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-weixin"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-weixin</span>
                        <span class="info-box-text">微信</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-weibo"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-number">fa-weibo</span>
                        <span class="info-box-text">微博</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
{% endblock %}